<mat-card>
    @if (product(); as p) {
    <h3>{{ p.title }}</h3>
    <p>{{ p.description }}</p>

    @if (id()) {
        <div class="row">

            <button mat-raised-button color="primary" routerLink="/products">
                Назад
            </button>
            <button mat-raised-button color="warn" (click)="delete()">
                delete
            </button>
            <button mat-raised-button color="secondary" (click)="edit()">
                edit
            </button>
        </div>
    }
    } @else {
    <div class="loading-shade">
        <mat-spinner></mat-spinner>
    </div>
    }
</mat-card>