.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;

    .actions {
        padding: 10px;
        background: #f9f9f9;
        text-align: center;
    }
}
.container-product{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    border: 1px solid;
    border-radius: 5px;
    justify-content: space-between;
}