<nav class="header-nav">
    @if (isLoggedIn()) {
    <a routerLink="/dashboard" routerLinkActive="active" lass="logo">My App</a>
    }@else{
        <a routerLink="/" routerLinkActive="active" lass="logo">My App</a>
    }
    <div class="menu">
        @if (isLoggedIn()) {
        @if(isAdmin()){
        <a routerLink="/admin/users" class="admin-badge">Админ Панел</a>
        }
        <span> {{ this.user()?.email }}</span>
        <button mat-flat-button color="primary" (click)="logout()">Изход</button>
        } @else {
        <a routerLink="/login" routerLinkActive="active">Вход</a>
        <a routerLink="/register" routerLinkActive="active">Регистрация</a>
        }
    </div>
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
</nav>